extends layout

include cabecera

block contenido
  script(src="/js/hammer.min.js")
  script.
  
    let body = document.querySelector('body')
    let contenido = document.querySelector('#contenido')
    let hammertime = new Hammer(contenido)
    hammertime.get('pinch').set({ enable: true })
    body.style.touchAction = "pan-y"
    contenido.style.touchAction = "pan-y"
    
    hammertime.on('pinch', (ev) => {
      
      let tamaneo = parseInt(contenido.style.fontSize ? contenido.style.fontSize : "12px")
      tamaneo = tamaneo < 12 ? 12 : tamaneo
      tamaneo = tamaneo > 90 ? 90 : tamaneo
      if(ev.scale > 1){
        document.querySelector('#contenido').style.fontSize = `${tamaneo+1}px`
        //body.style.fontSize = `${tamaneo+1}px`
      }else{
        document.querySelector('#contenido').style.fontSize = `${tamaneo-1}px`
        //body.style.fontSize = `${tamaneo-1}px`
      }
      
    });

  
    
  
    let corregir_imagenes = () => {
      document.querySelectorAll('p img').forEach(i => {
          let d = document.createElement('div')
          d.classList.add('ventana')
          console.log(i.getAttribute('src'))
          d.style.setProperty('--url-imagen', `url(${i.getAttribute('src')})`)
          i.parentElement.replaceWith(d)
          i.style.opacity = 0
          d.appendChild(i)
        }) 
      }
      window.addEventListener('load', corregir_imagenes)
    

  div.escrito!= cont
    div.firma.piel
      p Sebastán Rojo
      p "El Silencio Donde Escucho"
